page-home {

    .card-md-Work h2 {
        color: black;
    }

    .card-md-Work h3 {
        color: black;
    }

    .card-md-Health h2 {
        color: black;
    }

    .card-md-Health h3 {
        color: black;
    }

    .card-md-School h2 {
        color: black;
    }

    .card-md-School h3 {
        color: black;
    }

    .card-md-Faimly h2 {
        color: black;
    }

    .card-md-Family h3 {
        color: black;
    }
}
